body{
  font-family: 'Lato', sans-serif;

}
.fuente{
  font-family: 'Lato', sans-serif;
}

header{
  display: inline-flex;
  flex-direction: row;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  position: fixed;
  width: 100vw;
  padding: 5px;
  height: 60px;
  box-shadow: 3px 5px 11px 1px rgba(0,0,0,0.75);
}

.diseniologo{
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 2%;
}

.utnLogo{
 display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;

}
.diseniologo img{
  width:45px;
  margin-bottom: 0px;
}
.diseniologo p{
  margin-top: 4px;
}

.guardaLogo img{
  display: block;
    margin-left: auto;
    margin-right: auto;
    width: 7%;

}
.guardaLogo p{
  margin-top: 0px;
}

.main_container{
  width:100vw;
  position: absolute;
  text-align: center;
  top:70px;
  font-size: 22px;
  /* background-color: rgb(220, 230, 245); */
  background-color: rgb(253, 253, 253);
}
.encabezado{
  font-size: 35px;
  margin: 15px;
  padding: 15px;
}
.tabla{
  margin:10px;
  width:95%;
}
.tabla thead{
  margin-bottom: 10px;
  width:100%;
  margin-bottom: 20px;
}

.tabla th{
  text-align: left;
  padding: 10px;
  background-color: rgb(36, 35, 33);
  color:white;
}
.tabla td{
  font-family: 'Lato', sans-serif;
  height:45px;
  font-size: 16px;
  padding-left: 5px;
  vertical-align: middle;
  border-bottom: 1px solid grey;

}
.tabla tr:nth-child(odd) {
  background: #FFF
}

.tabla tr:hover {
  background-color: rgb(240, 173, 186);
}
/*
.btn{
  border:0px;
  padding: 5px;
  width: 35px;
  height: 35px;
  font-size: 16px;
  background-color: grey;
  border-radius: 5px;
  color:white;
  cursor:pointer;
}*/
.btn-edit{
  background-color: orange;
  padding: 7px;

}
.btn-border{
  border:2px solid black;
  color: black;
  background: none;
}
.btn-border-blue{
  padding: 10px;
  margin: 10px;
  width: 180px;
  font-size: 16px;
  border-radius: 5px;
  color:rgb(57, 52, 53);
  border: 1px solid rgb(250, 7, 40);
  display: block;
    margin-right: auto;

  text-decoration: none;
}

.btn-border-red{
  padding: 10px;
  margin: 10px;
  width: 180px;
  font-size: 16px;
  border-radius: 5px;
  color:rgb(57, 52, 53);
  border: 1px solid rgb(250, 7, 40);
  display: block;
    margin-right: auto;
    margin-left: auto;
  text-decoration: none;
}
#inputUsuario{
  position:fixed;
  right:25px;
  top:100px;
  font-size:16px;
  height: 25px;
  border:0px;
  padding: 5px;
  background-color: rgb(72, 73, 74);
  background-color: white;
  border-bottom:4px solid rgb(72, 73, 74);
}

#modalEliminar{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modalContent{
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
.btn-close-modal {
  cursor:pointer;
  float:right;
  background-color: grey;
  border:0px;
  color:white;
  padding: 7px;
  border-radius: 5px;
  font-size:16px;
}
.btn-cancelar{
  border:0px;
  padding: 10px;
  font-size: 16px;
  background-color: grey;
  border-radius: 5px;
  color:white;
  cursor:pointer;
  align-items:center;

}
.btn-rojo{
  border:0px;
  padding: 10px;
  margin: 0.5em;
  font-size: 16px;
  background-color: blue;
  border-radius: 5px;
  /*  background-color:rgb(199, 13, 0);
*/
  cursor:pointer;
  color:white;
  float: right;
}
.btn-azul{
  border: 11px;
  padding: 26px;
  font-size: 24px;
  background-color: rgb(0,0,255);
  border-radius: 5px;
  cursor:pointer;
  margin-bottom: auto;
  display: inline-block;
  color:white;
  width: unset;
  position: initial;
}
.btn-verde{
  border:0px;
  padding: 10px;
  font-size: 16px;
  background-color: grey;
  border-radius: 5px;
  margin:5px;
  background-color:rgb(68, 168, 68);
  cursor:pointer;
  color:white;
}

.btn-logout{
  float:right;
  margin-right: 2em;
  border-radius: 5px;
  /*background-color:rgb(68, 168, 68);*/
  font-size: 16px;


}
#boton-Log-Out{

  text-decoration: none;
  padding: 10px;
  font-weight: 600;
  font-size: 20px;
  color: #FFFFFF;
  /*background-color: #953b39;*/
  background-color: #005BBB;
  border-radius: 6px;

}

/* ESTILOS NUEVO USUARIO */
.contenedor-carta-usuario{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  width:100vw;
  height: 90%;

}

.carta-usuario{
  display: flex;
  flex-direction:row;
  align-items: center;
  background-color: white;
  border-bottom:4px solid rgb(72, 73, 74);
  padding: 10px;
}
.imagen-perfil{
  width:120px;
  margin:15px;
  margin-top:5px;
}
.input-datos{
  font-size:16px;
  height: 25px;
  border:0px;
  width:100%;
  padding: 5px;
  background-color: rgb(72, 73, 74);
  background-color: white;
  border-bottom:4px solid rgb(72, 73, 74);
}
.input-select{
  width:100%;
  font-size:16px;
  margin-top:5px;
  margin-bottom:5px;
  background-color: white;
  border-radius:0px;
}
.form-cargar-usuario{
  display:flex;
  flex-direction:row;
}
@media (max-width:450px) {
  .form-cargar-usuario{
    width:90%;;
    display: flex;
    flex-direction:column;
    align-items: center;
    padding: 10px;
  }
}

